@page
@model CV_Manager.Pages.SendModel
@{
    CVModel cv = Model.cv;
}

<form asp-page="Summary" method="post" enctype="multipart/form-data">
    <label asp-for="cv.firstName"></label><br>
    <input asp-for="cv.firstName"> <br>
    <span asp-validation-for="cv.firstName" class="error"></span>
    <br><br>

    <label asp-for="cv.lastName"></label><br>
    <input asp-for="cv.lastName"><br>
    <span asp-validation-for="cv.lastName" class="error"></span>
    <br><br>

    <label asp-for="cv.birthDay"></label><br>
    <input asp-for="cv.birthDay"> <br>
    <span asp-validation-for="cv.birthDay" class="error"></span>
    <br><br>

    <label asp-for="cv.nationality"></label><br>
    <select asp-for="cv.nationality" asp-items="CVLists.nationalities"></select> <br>
    <span asp-validation-for="cv.nationality" class="error"></span>
    <br><br>

    <label asp-for="cv.gender"></label><br>
    @{
        foreach(var gender in CVLists.genders) {
            <input type="radio" asp-for="cv.gender" value="@gender.Value"/> @gender.Text<br>
        }
    }
    <br>
    <span asp-validation-for="cv.gender" class="error"></span>
    <br><br>

    <label asp-for="cv.selectedSkills"></label><br>
    @{
        foreach (var skill in cv.selectedSkills) {
            if (!skill.value) {
                <p>false</p>
            }
            <input type="checkbox" name="@skill.value" value="@skill.value"> @skill.text
            <input type="hidden" asp-for="@cv.selectedSkills">
            <br>
        }
    }
    <br>
    <span asp-validation-for="cv.selectedSkills" class="error"></span>
    <br><br>


    <label asp-for="cv.email"></label><br>
    <input asp-for="cv.email" /> <br>
    <span asp-validation-for="cv.email" class="error"></span>
    <br>

    <label asp-for="cv.emailConfirm"></label><br>
    <input asp-for="cv.emailConfirm" /> <br>
    <span asp-validation-for="cv.emailConfirm" class="error"></span>
    <br><br> <br><br>

    <label asp-for="cv.x"></label><br>
    <input asp-for="cv.x" /> <br>
    <span asp-validation-for="cv.x" class="error"></span>
    <br><br>

    <label asp-for="cv.y"></label><br>
    <input asp-for="cv.y" /> <br>
    <span asp-validation-for="cv.y" class="error"></span>
    <br><br>

    <label asp-for="cv.sum"></label><br>
    <input asp-for="cv.sum" /> <br>
    <span asp-validation-for="cv.sum" class="error"></span>
    <br><br> <br><br>

    <label asp-for="cv.photo"></label><br>
    <input asp-for="cv.photo" /> <br>
    <span asp-validation-for="cv.photo" class="error"></span>
    <br><br> <br><br>


    <input type="submit" value="Submit">

    <div asp-validation-summary="All" class="error"></div>
</form>
